#bDOM1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    height: 25;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
}
#topic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topic1 {
    background-color: #cc9900;
}
.topic2 {
    background-color: #00cc00;
}
.topic3{
    background-color: #d9d9d9;
}
.topic4 {
    background-color: #ffff00;
}
.topic5 {
    background-color: #cc9900;
}
.colm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}