.topic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #66ffff;
}

.colm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}